<a href="https://colab.research.google.com/github/risitadas/machine-learning-in-python/blob/main/26.naive-bayes-classifier-algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Naive Bayes Classifier Algorithm :

predicting Titanic survival using naive bayes

we make a naive assumption that features such as male, class, age, cabin, fare etc. are independent of each other

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/risitadas/machine-learning-in-python/main/titanic-csv.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis = 'columns',inplace = True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [5]:
inputs = df.drop('Survived', axis = 'columns')
target = df.Survived

In [7]:
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [8]:
inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})
inputs.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

In [9]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [10]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [11]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(10)

   Pclass  Sex        Age     Fare
0       3    1  22.000000   7.2500
1       1    2  38.000000  71.2833
2       3    2  26.000000   7.9250
3       1    2  35.000000  53.1000
4       3    1  35.000000   8.0500
5       3    1  29.699118   8.4583
6       1    1  54.000000  51.8625
7       3    1   2.000000  21.0750
8       3    2  27.000000  11.1333
9       2    2  14.000000  30.0708

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.4)

In [13]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [17]:
model.fit(X_train, y_train)

GaussianNB()

In [18]:
model.score(X_test, y_test)

0.7843137254901961

In [20]:
len(X_train)

534

In [21]:
X_test[0:10]

     Pclass  Sex        Age     Fare
829       1    2  62.000000  80.0000
687       3    1  19.000000  10.1708
502       3    2  29.699118   7.6292
806       1    1  39.000000   0.0000
652       3    1  21.000000   8.4333
785       3    1  25.000000   7.2500
370       1    1  25.000000  55.4417
878       3    1  29.699118   7.8958
759       1    2  33.000000  86.5000
219       2    1  30.000000  10.5000

In [22]:
len(X_test)

357

In [23]:
len(inputs)

891

In [24]:
len(y_train)

534

In [25]:
len(y_test)

357

In [27]:
model.predict(X_test[0:10])

array([1, 0, 1, 0, 0, 0, 0, 0, 1, 0])

In [28]:
model.predict_proba(X_test[0:10])

array([[0.02456997, 0.97543003],
       [0.95456964, 0.04543036],
       [0.37513781, 0.62486219],
       [0.76894034, 0.23105966],
       [0.95590378, 0.04409622],
       [0.95828449, 0.04171551],
       [0.66487842, 0.33512158],
       [0.96059595, 0.03940405],
       [0.02110248, 0.97889752],
       [0.92029983, 0.07970017]])

calculating the score using the cross validation

In [32]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(), X_train, y_train , cv = 5)

array([0.80373832, 0.76635514, 0.78504673, 0.73831776, 0.79245283])